<%inherit file="base.html"/>

<%block name="title">
    Profile
</%block>

<center>
	<h1>Profile management</h1>
	<h3>Logged as ${user.username} (${user.firstname} ${user.name})</h3>
</center>

<%block name="headjavascript">

	<script type="text/javascript">
		$(document).ready(function() {
			$("#chpassButton").click(function() {
				$("#consoleResponse").html("<div class=\"ink-alert basic info fadeWhenOver\">"+
								"<p><b>Information: <b>Submitting password change request</p>"+
								"</div>");
				$.post("chpass", {'username': '${user.username}',
					'password': $("#password").val(),
					'npassword1': $("#npassword1").val(),
					'npassword2': $("#npassword2").val()},
					function(data,status){
						var obj = $.parseJSON(data)
						
						if(obj.status == 'ok') {
							$("#consoleResponse").html("<div class=\"ink-alert basic success fadeWhenOver\">"+
								"<p><b>Success:<b>"+obj.msg+"</p>"+
								"</div>");
						} else {
							$("#consoleResponse").html("<div class=\"ink-alert basic error fadeWhenOver\">"+
								"<p><b>Failure:<b>"+obj.msg+"</p>"+
								"</div>");
						}
						
						setTimeout(function() {$(".fadeWhenOver").fadeOut(3000);},5000);
						setTimeout(function() {$(".fadeWhenOver").remove();},8000);
						$("#password").val("");
						$("#npassword1").val("");
						$("#npassword2").val("");
					}
				);
			});
		});
	</script>
	
	% if "admin" in user.groups:
		<script type="text/javascript">
		$(document).ready(function() {
			$("#userAddButton").click(function() {
				$("#userConsoleResponse").html("<div class=\"ink-alert basic info fadeWhenOverUser\">"+
								"<p><b>Information: <b>Creating a new user</p>"+
								"</div>");
				$.post("useradd", {'username': $("#user_name").val(),
					'password': $("#user_password").val(),
					'groups': $("#user_groups").val()},
					function(data,status){
						var obj = $.parseJSON(data)
						
						if(obj.status == 'ok') {
							$("#userConsoleResponse").html("<div class=\"ink-alert basic success fadeWhenOverUser\">"+
								"<p><b>Success:<b>"+obj.msg+"</p>"+
								"</div>");
						} else {
							$("#userConsoleResponse").html("<div class=\"ink-alert basic error fadeWhenOverUser\">"+
								"<p><b>Failure:<b>"+obj.msg+"</p>"+
								"</div>");
						}
						
						setTimeout(function() {$(".fadeWhenOverUser").fadeOut(3000);},5000);
						setTimeout(function() {$(".fadeWhenOverUser").remove();},8000);
						$("#user_password").val("");
						$("#user_name").val("");
						$("#user_groups").val("");
					}
				);
			});
		});
	</script>
	% endif
	
</%block>

<div class="column-group gutters">
	
	<div class="large-80 push-center">
		<h2>Groups</h2>
		<div class="100">
			<p>Your groups : </p>
			<ul>
			% for g in user.groups:
				<li>${g}</li>
			% endfor
			</ul>
		</div>
		<h2>Change password</h2>
		<div class="large-100" id="consoleResponse"></div>
		<form action="javascript:void(0);" class="ink-form top-space">
			<fieldset>
				<div class="control-group column-group half-gutters">
					<div class="control large-100">
						<input type="password" id="password" size="15" placeholder="current password" />
					</div>
					<div class="control large-100">
						<input type="password" id="npassword1" size="15" placeholder="new password" />
					</div>
					<div class="control large-100">
						<input type="password" id="npassword2" size="15" placeholder="new password again" />
					</div>
					
					<center>
						<button id="chpassButton" class="large-20 push-center content-center ink-button top-space">Change my password</>
					</center>
				</div>
			</fieldset>
		</form>
		
		% if "admin" in user.groups:
		<h2>Add an user</h2>
		<div class="large-100" id="userConsoleResponse"></div>
		<form action="javascript:void(0);" class="ink-form top-space">
			<fieldset>
				<div class="control-group column-group half-gutters">
					<div class="control large-100">
						<input type="text" id="user_name" size="15" placeholder="new username" />
					</div>
					<div class="control large-100">
						<input type="password" id="user_password" size="15" placeholder="new password" />
					</div>
					<div class="control large-100">
						<input type="text" id="user_groups" size="15" placeholder="coma separated groups" />
					</div>
					
					<center>
						<button id="userAddButton" class="large-20 push-center content-center ink-button top-space">Create a new user</button>
					</center>
				</div>
			</fieldset>
		</form>
		% endif
		
	</div>
</div>
