<%inherit file="base.html"/>

<%block name="title">
    ${env["name"]} - Stats
</%block>

<%block name="headjavascript">
	<link rel="stylesheet" href="${env['mountpoint']}/static/css/hint.min.css"></link>
	<script src="${env['mountpoint']}/static/js/Chart.min.js"></script>
	<script src="${env['mountpoint']}/static/js/jquery.min.js"></script>
	</script>
</%block>

<div class="row">
	<%
		winner = "nobody"
		if len(data.keys()) != 0:
			winner = data.keys()[0]
			for k in data.keys():
				if data[k] > data[winner]:
					winner = k
		else:
			pass
	%>
	<div class="col-md-12" id="statsContent">
		<h2>The biggest contributors ! <small>And the winner is ${winner}</small></h2>
			<canvas id="statsChart" class="col-md-12" height="400"></canvas>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#statsChart").attr("width", $("#statsContent").width());
		var ctx = document.getElementById("statsChart").getContext("2d");
		var data = {
		labels : ${data.keys()},
			datasets : [
				{
					fillColor : "rgba(255,165,0,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					data : ${data.values()}
				}
			]
		}
		% if len(data.keys()) != 0:
			new Chart(ctx).Bar(data,{scaleOverride: true, scaleStartValue: 0, scaleSteps: ${max(data.values())+1}, scaleStepWidth: 1});
		% endif
	});
</script>
