<%inherit file="base.html"/>

<%block name="title">
    ${env["name"]} - Wall !
</%block>

<%block name="headjavascript">
	<link rel="stylesheet" href="${env['mountpoint']}/static/css/hint.min.css"></link>
	<script src="${env['mountpoint']}/static/js/jquery.min.js"></script>
	<script type="text/javascript">
		function randomQuote() {
			$.post("${env['mountpoint']}/manage/random", {},
				function(data,status){
					var obj = $.parseJSON(data);
					$("#quote").html(obj.quote);
					$("#author").html(obj.author);
					$("#author").attr("data-hint", "Submitted by "+obj.submitter);
				}
			);
		}
	</script>
</%block>

<div class="midScreen"></div><!-- To make a big space and center stuff -->
<div class="row">
	<div class="col-md-12 text-center">
		<div id="quoteblock">
			<blockquote style="font-size: 4em;">
				<p id="quote"></p>
				<footer id="foo"><cite class="hint--bottom hint--rounded"
				data-hint="" id="author"></cite>
				</footer>
			</blockquote>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".midScreen").css("min-height", ($(window).height()/4)+"px");
	randomQuote();
	setInterval(function(){
			$("#quoteblock").fadeOut(1000, function() {
				randomQuote();
				$("#quoteblock").fadeIn(1000);
			});
		},
		6000);
</script>
