<%inherit file="base.html"/>

<%block name="title">
    ${env["name"]} - Add
</%block>

<%block name="headjavascript">
	<link rel="stylesheet" href="${env['mountpoint']}/static/css/hint.min.css"></link>
	<script src="${env['mountpoint']}/static/js/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#newQuoteButton").click(function() {
				$("#consoleResponse").html("<div class=\"alert alert-info fadeWhenOver\">"+
								"<p><b>Information: </b> Sending the quote !</p>"+
								"</div>");
				$.post("${env['mountpoint']}/manage/add_one", {
					'quote': $("#quote").val(),
					'author': $("#author").val()},
					function(data,status){
						var obj = $.parseJSON(data)
						
						if(obj.status == 'ok') {
							$("#consoleResponse").html("<div class=\"alert alert-success fadeWhenOver\">"+
								"<p><b>Success:</b> "+obj.msg+"</p>"+
								"</div>");
						} else {
							$("#consoleResponse").html("<div class=\"alert alert-danger fadeWhenOver\">"+
								"<p><b>Failure:</b> "+obj.msg+"</p>"+
								"</div>");
						}
						
						setTimeout(function() {$(".fadeWhenOver").fadeOut(3000);},5000);
						setTimeout(function() {$(".fadeWhenOver").remove();},8000);
						$("#quote").val("");
						$("#author").val("");
					}
				);
			});
		});
	</script>
</%block>

<center>
	<h1>SysAquotes</h1>
</center>
<div class="row">
	<div class="col-md-12">
		<h2>Add one quote !</h2>
		<form action="javascript:void(0);" role="form">
			<textarea id="quote" class="form-control" placeholder="Quote :)" rows="3"></textarea>
			</br>
			<div class="input-group">
				<span class="input-group-addon glyphicon glyphicon-user"></span>	
				<input type="text" id="author" size="15" placeholder="Author" class="form-control"/>
			</div>
			</br>
			<center>		
				<button id="newQuoteButton" class="btn btn-default btn-block">Add the quote !</button>
			</center>
		</form>
		</br>
		<div class="large-100" id="consoleResponse"></div>
	</div>
</div>

