<%inherit file="base.html"/>

<%block name="title">
    ${env["name"]} - All !
</%block>

<%block name="headjavascript">
	<link rel="stylesheet" href="${env['mountpoint']}/static/css/hint.min.css"></link>
	<script src="${env['mountpoint']}/static/js/jquery.js"></script>
	<script type="text/javascript">
		function removeQuote(id) {
			$.post("${env['mountpoint']}/manage/del_one", {
				'qid': id
				},
				function(data,status){
					var obj = $.parseJSON(data)
					
					if(obj.status == 'ok') {
						alert("Quote successfully deleted");
						$("#quote-"+quote).remove();
					} else {
						alert("Unable to remove quote : " + obj.msg);
					}
				}
			);
		}
		function removeQuote(id) {
			$.post("${env['mountpoint']}/manage/del_one", {
				'qid': id
				},
				function(data,status){
					var obj = $.parseJSON(data)
					
					if(obj.status == 'ok') {
						alert("Quote successfully deleted !");
						$("#quote-"+id).remove();
					} else {
						alert("Unable to remove quote : " + obj.msg);
					}
				}
			);
		}
	</script>
</%block>

<center>
	<h1>${env["name"]}</h1>
</center>
<div class="row">
	<div class="col-md-12">
		<h2>All the quotes <small>| ${len(quotes)} quotes</small></h2>
		% for i in range(0,len(quotes)):
			<div class="quote" id="quote-${quotes[i].id}">
				<blockquote>
					<p>${quotes[i].quote.decode('utf-8')}</p>
					<footer><cite class="hint--bottom hint--rounded"
					data-hint="Submitted by ${quotes[i].submitter}">${quotes[i].author}</cite>
					% if session.get("username") == quotes[i].submitter or session.get("username") == "admin":
						| <a href="#" onclick="removeQuote(l${quotes[i].id});"><i class="fa fa-times"></i> Delete</a>
						| <a href="${env['mountpoint']}/manage/edit/${quotes[i].id}"><i class="fa fa-wrench"></i> Edit</a>
					% endif
					 | <a href="${env['mountpoint']}/manage/one/${quotes[i].id}"><i class="fa fa-link"></i> Link</a>
					</footer>
				</blockquote>
			</div>
		% endfor
	</div>
</div>
